rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    match /usuarios/{documentId} {
      // LEITURA: Libera se o UID bater OU se o e-mail logado for igual ao e-mail do documento
      allow read: if request.auth != null && 
                  (request.auth.uid == resource.data.uid || request.auth.token.email == resource.data.email);
      
      // ATUALIZAÇÃO:
      allow update: if request.auth != null 
                    && request.auth.token.email == resource.data.email
                    && (!request.resource.data.keys().hasAny(['cargo']) || request.resource.data.cargo == resource.data.cargo)
                    && (!request.resource.data.keys().hasAny(['total_arrecadado']) || request.resource.data.total_arrecadado == resource.data.total_arrecadado);

      allow create, delete: if false; 
    }

    match /{document=**} {
      // Temporariamente, para o seu sistema funcionar em desenvolvimento, precisamos deixar 
      // as outras coleções (bilhetes, notificacoes, compradores) abertas para usuários logados.
      allow read, write: if request.auth != null; 
    }
  }
}