/* Importação da fonte Montserrat do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Variáveis CSS Globais (Para casos onde o MUI não alcança) */
:root {
  --cor-verde-fundo: #0B1B15; /* Um verde escuro, quase preto, extraído da sua logo */
  --cor-dourado-brilho: #D4AF37; /* Dourado clássico */
  --cor-dourado-escuro: #AA8222;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Scrollbar personalizada e discreta */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: var(--cor-dourado-escuro);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}